#cloud-config
chpasswd:
    list: |
        root:rootroot
        ubuntu:ubuntu
    expire: false
ssh_pwauth: yes


hostname: ubuntu1604

apt:
    primary:
        - arches: [default]
          uri: "http://mirrors.aliyun.com/ubuntu/"
          search:
            - "http://mirrors.aliyun.com/ubuntu/"


resolv_conf:
    nameservers: ['218.104.111.1xx', '8.8.8.8']
    searchdomains:
        - localdomain
    domain: localdomain
    options:
        rotate: true
        timeout: 1
manage_resolv_conf: true

packages:
 - apache2

timezone: 'Asia/Shanghai'

runcmd:
    - [ mkdir, /dropme ]
    - [ sed, -i, "$a nameserver 218.104.1xx.1xx", /etc/resolv.conf ]